.border {
    border: #1E6994 solid 5px !important;
    width: 200px;
    height: auto;
   margin-top: 10px;
    border-radius: 10px;
  }
  
  .row {
    display: flex; 
    flex-wrap: wrap ; 
    padding: 0 1px 
  }  
  
  img {
    margin-top: 10px;
  }
  
  .card {
 
  display: flex;
 
  border: none;
}