.border {
    border: #1E6994 solid !important;
    width: 200px;
    margin: auto;
  }

  .row {
    display: flex; 
    flex-wrap: wrap ; 
    padding: 0 1px 
  } 
  

  .addMargin {
    margin: 10px;
    margin-right: 10px;
  }

  .img {
    margin-top: 10px;
  }