.writing{
    background-color: #282C34;

}
.display-4{
    font-weight: bold;
}
#lastimage{
    background-image: url(./images/lastimage.jpeg);
    opacity: 70%;
    border-radius: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#jane{
    background-image: url(./images/image1.png);
    opacity: 85%;
    border-radius: 40px;
    
}